.nav {
  height: 50px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  background: rgba(169,208,245,0.5);
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.nav-right-items {
  display: flex;
  margin-left: auto;
  margin-right: 30px;
}
.company-name {
  margin-left: 20px;
  font-weight: bold;
}
.nav-item {
  margin-left: 10px;
}
.title {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
}
.subtitle {
  margin-top: 100px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}
.main {
  width: 1000px;
  margin: 0 auto;
  margin-top: 60px;
}
.sub-nav {
  display: flex;
  margin-top: 100px;
}
.sub-nav-item {
  width: 300px;
  height: 350px;
  border: 1px solid black;
  margin: 20px;
  border-radius: 4px;
}
.sub-nav-item-title {
  font-size: 1.5rem;
  background: rgba(0,0,0,.03);
  text-align: center;
  height: 53px;
  line-height: 53px;
  border-bottom: 1px solid black;
}
.sub-nav-item-detail {
  font-size: 1.0rem;
  padding: 15px;
}
.sub-nav-item-button {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  color: white;
  background-color: #007bff;
  background-image: none;
  border-color: #007bff;
  margin-top: 30px;
}
